.side-bar
  .side-header
    .side-header__name-function
      %h3.side-header__name-function__username 
        = current_user.name
      %ul.side-header__name-function__contents
        %li.side-contents__name-function__contents__edit-group
        = link_to new_group_path do
          = icon('fas', 'edit', class: 'icon')
        %span<>
        %li.side-contents__name-function__contents__edit-account
        = link_to edit_user_path(current_user) do
          = icon('fas', 'cog', class: 'icon')
        
       

  .groups
    - current_user.groups.each do |group|
      .groups__community
        = link_to '#' do
          .groups__community__name
            = group.name
          .groups__community__message
            メッセージはまだありません

      -# .groups__communities__community2
      -#   .groups__communities__community2__name 
      -#     community2

      -#   .groups__communities__community2__message 
      -#     second message

